[submodule "ros2_ws/src/ackermann_msgs"]
	path = ros2_ws/src/ackermann_msgs
	url = https://github.com/ros-drivers/ackermann_msgs.git
[submodule "ros2_ws/src/cecar_base/include/gamepad"]
	path = ros2_ws/src/cecar_base/include/gamepad
	url = https://github.com/elanthis/gamepad.git
